
.base-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: relative;
    background:  hsla(60, 1%, 25%, 0.897);
    color: rgb(214, 212, 209);
    box-shadow: 0px 0px 12px 2px rgba(228, 223, 223, 0.2);
    border-radius: 4px;
    padding: 17px 20px;
    margin: 15px;
    padding-bottom:15px;
    .header {
      font-size: 24px;
      
      color: sandybrown;
    }
  
    .content {
      display: flex;
      flex-direction: column;
  
      .image {
        width: 15em;
        
        img {
          width: 100%;
          height: 100%;
        }
      }
  
      .form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .form-group{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
          label {
            font-size: 20px;
          }
          input {
            margin-top: -17px;
            min-width: 18em;
            height: 37px;
            padding: 0px 10px;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 4px;
            // margin-bottom: 31px;
            transition: all 250ms ease-in-out;
            &:hover {
              background-color: #ffffff;
              box-shadow: 0px 0px 14px 0.3px #e09e0f96;
            }
  
            &:focus {
              outline: none;
              box-shadow: 0px 0px 12px 0.8px #dba134b2;
            }
          }
        }
      }
    }
  
    // .footer {
    //   margin-top: 3em;
    // }
  }
  